.tutorial-layout {
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 80px; /* Add padding to account for fixed header */
}

.tutorial-main-content {
    flex-grow: 1;
    padding: 2rem;
    padding-left: 270px; /* Width of left sidebar + some extra padding */
    padding-right: 270px; /* Width of right sidebar + some extra padding */
}
